* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img,
.images > li .image-card > img,
.images > li .image-card a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after,
body:before,
body:after,
.images:before,
.images:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after,
body:after,
.images:after {
  clear: both;
}
body {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  font-family: sans-serif;
}
@media (min-width: 768px) {
  body {
    width: 750px;
  }
}
@media (min-width: 992px) {
  body {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  body {
    width: 1170px;
  }
}
body > .navbar-header,
body > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  body > .navbar-header,
  body > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
form {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
form blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}
form button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
form button:focus,
form button:active:focus,
form button.active:focus,
form button.focus,
form button:active.focus,
form button.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
form button:hover,
form button:focus,
form button.focus {
  color: #333333;
  text-decoration: none;
}
form button:active,
form button.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
form button.disabled,
form button[disabled],
fieldset[disabled] form button {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
form button:hover,
form button:focus,
form button.focus,
form button:active,
form button.active,
.open > .dropdown-toggleform button {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
form button:active,
form button.active,
.open > .dropdown-toggleform button {
  background-image: none;
}
form button.disabled,
form button[disabled],
fieldset[disabled] form button,
form button.disabled:hover,
form button[disabled]:hover,
fieldset[disabled] form button:hover,
form button.disabled:focus,
form button[disabled]:focus,
fieldset[disabled] form button:focus,
form button.disabled.focus,
form button[disabled].focus,
fieldset[disabled] form button.focus,
form button.disabled:active,
form button[disabled]:active,
fieldset[disabled] form button:active,
form button.disabled.active,
form button[disabled].active,
fieldset[disabled] form button.active {
  background-color: #ffffff;
  border-color: #cccccc;
}
form button .badge {
  color: #ffffff;
  background-color: #333333;
}
.images {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
ul.images {
  padding: 0;
  list-style: none;
}
.images:before {
  display: none;
}
.images > li {
  float: left;
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .images > li {
    float: left;
    width: 33.33333333%;
  }
}
@media (min-width: 1200px) {
  .images > li {
    float: left;
    width: 25%;
  }
}
.images > li .image-card {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
  overflow: hidden;
}
.images > li .image-card > img,
.images > li .image-card a > img {
  margin-left: auto;
  margin-right: auto;
}
a.images > li .image-card:hover,
a.images > li .image-card:focus,
a.images > li .image-card.active {
  border-color: #337ab7;
}
.images > li .image-card .caption {
  padding: 9px;
  color: #333333;
}
.images > li .image-card:hover > img {
  transform: scale(1.2);
}
.images > li .image-card > img {
  display: block;
  max-width: 100%;
  height: auto;
  transition: all 0.2s ease-in;
}
.images > li .image-card > .caption {
  line-height: 1.5em;
  min-height: 3em;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.images > li .image-card > .caption img {
  max-height: .9em;
}
#modal:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
#modal #modal-close {
  position: fixed;
  top: -1em;
  right: .5em;
  font-size: 40px;
  z-index: 12;
  color: #fff;
  cursor: pointer;
  text-shadow: 0 0 5px #400;
  -webkit-transform: translate("0.25em", 0);
  -ms-transform: translate("0.25em", 0);
  -o-transform: translate("0.25em", 0);
  transform: translate("0.25em", 0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
#modal #modal-image {
  z-index: 11;
  position: fixed;
  left: 50%;
  top: 50%;
  /*transform: translate(-50%, -50%);*/
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 0 10px #000;
}
