@import "../src/bootstrap/scaffolding.less";
@import (reference) "../src/bootstrap/bootstrap.less";

body {
	.container;
	font-family: sans-serif;
}

#upload-form {

	label {
		.btn;
		.btn-default;
	}
	input#id_file {
		position: fixed;
		top: -100%
	}

	button {
		.btn;
		.btn-default;
	}
}

.images {
	ul& {
		padding: 0;
		list-style: none;
	}

	.row;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	&:before {
		// Flexbox will try to wrap the before content otherwise.
		display: none;
	}

	> li {
		.make-xs-column(6);
		.make-sm-column(4);
		.make-lg-column(3);

		.image-card {
			.thumbnail;
			overflow: hidden;
			cursor: pointer;

			&:hover > img {
				.scale(1.2);
			}
			> img {
				.img-responsive;
				.transition(all .2s ease-in);
			}
			> .caption {
				line-height: 1.5em;
				min-height: 3em;
				.box-sizing(content-box);
				img {
					max-height: .9em;
				}
			}
		}

	}

}

#modal {

	&:before{
		content: ""; 
		background: rgba(0,0,0,.6);
		position: fixed;
		top: 0; left: 0; right: 0; bottom: 0; 
		z-index: 10;
	}

	#modal-close {
		position: fixed;
		top: .25em;
		right: .5em;
		font-size: 40px;
		z-index: 12;
		color: #fff;
		cursor: pointer;
		text-shadow: 0 0 5px #400;
	}

	#modal-image {
		z-index: 11;
		position: fixed;
		left: 50%;
		top: 50%;
		max-width: 100%;
		max-height: 100%;
		.translate(-50%, -50%);
		.box-shadow(0 0 10px #000);
	}

}