<!DOCTYPE html>
{% load staticfiles %}
{% load easy_images %}
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet/less" type="text/css" href="{% static 'css/styles.less' %}" />
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" /> -->
<script src="{% static 'js/lib/less.min.js' %}" type="text/javascript"></script>
</head>
<body>
<h1>{{ images|length }} Image(s)</h1>
<form action="" method="post" enctype="multipart/form-data" id="upload-form">{% csrf_token %}
<label for="{{ form.file.id_for_label }}">Upload an image</label> {{ form.file }} <button type="submit">Save</button>
</form>

<ul class="images">
{% for image in images %}
<li>
	<div class="image-card">
		<img data-src="{{ image.file.url }}" src="{{ image.thumb }}" width="{{ image.thumb.width }}" height="{{ image.thumb.height }}" alt="">
		<div class="caption"><img src="{{ image.tiny }}"> {{ image }}</div>
	</div>
</li>
{% endfor %}
</ul>

<div id="modal" style="display: none;">
<div id="modal-close">×</div>
<img {#src="data:"#} src="{{ images.1.file.url }}" id="modal-image" alt="">
</div>

<script>
var btn = document.querySelectorAll('#upload-form button')[0]
btn.parentNode.removeChild(btn)
document.getElementById('{{ form.file.id_for_label }}').addEventListener('change', function() {
	document.getElementById('upload-form').submit()
})

var elements = document.querySelectorAll('.image-card')
Array.prototype.forEach.call(elements, function (el) {
	el.addEventListener('click', function(e) {
		var images = this.querySelectorAll('img')
		var img
		for (var i = 0; i < images.length; i++) {
			img = images[i].getAttribute('data-src')
			if (img) break
		}
		if (!img) return
		e.preventDefault()
		document.getElementById('modal-image').setAttribute('src', img)
		document.getElementById('modal').style.display = ''
	})
})
function closeModal(e) {
	e.preventDefault()
	document.getElementById('modal').style.display = 'none'
}
document.getElementById('modal-close').addEventListener('click', closeModal)
document.getElementById('modal-image').addEventListener('click', closeModal)
</script>

</body>
</html>
